*{
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    background-color: #D9D9D9;
}

h1{
    background-color: black;
    color: #fff;
    padding: 24px 21px;
}

.search{
    padding: 30px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 15px;
}

.search > * {
    height: 65px;
}

input, button {
    display: inline-block;
}

input {
    border : 1px solid black;
}

input::placeholder {
    padding: 15px;
    color: black;
}

button {
    background-color: black;
    color: white;
    border: none;
    
}

.buttons {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 65px 1fr;
    gap:15px;
    padding: 0px 30px;
}

.table{
    padding: 20px;
}

table{
    border-collapse: collapse;
  width: 100%;
}

td, th, .cell {
    padding: 1rem 1rem;
    text-align: center;
    border: 1px solid black;
    
  }
